#dp-event-actions-container {
	display: block;
}

#dp-event-actions-container-user,
#dp-event-actions-container-user > button,
.dp-event-actions {
	float: right;
}

#dp-event .dp-event-caret {
	font-size: smaller;
}

#dp-event-actions-container-share {
	float: left;
}

#dp-event-actions-container-share .dp-share-button {
	margin: 5px;
	float: left;
}

#dp-event-details-map, .dp-event-details-map-single {
	width: 100%;
	height: 200px;
}

#dp-event-locations i {
	margin-right: 10px;
}

#dp-event-information-content-details-metadata-details-map {
	height: 200px;
}

#dp-event-information-content-details-data-url-content .dp-event-content a {
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.dp-event-price-has-discount {
	text-decoration: line-through;
}

.dp-event-price-discount {
	margin-left: 10px;
	font-weight: bold;
}

.dp-event-price-description {
	margin-left: 5px;
}

.item-image {
	margin-bottom: 10px;
}

.twitter-share-button {
	max-width: 80px;
}

#___plusone_0 {
	max-width: 60px;
}

@media screen and (max-width: 767px) {
	#dp-event dl .dpcalendar-label, #dp-event dl .location-label {
		float: left;
		width: 20%;
		margin: 0;
	}

	#dp-event dl .dp-event-content, #dp-event dl .location-content {
		float: left;
		width: 79%;
		margin: 0;
	}
}

@media screen and (max-width: 480px) {
	#dp-event dl .dpcalendar-label, #dp-event dl .dp-event-content, #dp-event dl .location-label,
	#dp-event dl .location-content {
		float: none;
		width: 100%;
		margin: 0;
	}
}

@media print {
	.noprint, .dp-share-button {
		display: none !important;
	}

	a:link:after, a:visited:after {
		display: none;
		content: "";
	}

	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9,
	.span10, .span11, .span12 {
		float: left !important;
		white-space: nowrap !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.span1, .span2, .span3, .span4, .span5, .span6 {
		max-width: 150px
	}

	.span7, .span8, .span9, .span10, .span11, .span12 {
		max-width: 350px
	}

	dt {
		float: left !important;
		margin: 0 !important;
		padding: 0 !important;
		max-width: 150px;
		min-width: 150px
	}

	dd {
		float: left !important;
		margin: 0 0 0 5px !important;
		padding: 0 !important;
		max-width: 350px
	}
}