.icon-48-businessinfos {
      background-image: url(../images/l_businessinfos.png);
      padding-left:60px!important;
}

.icon-48-businessinfo {
      background-image: url(../images/l_businessinfos.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}