#sp-header {
    background-color: #374f7c;
    color: #ffffff;
    margin: 0,0,50,0;
    border-bottom: solid 3px yellow;
}

div.page-header .h1, h1 {
    font-size: 28px !important;
}

@media (min-width: 1200px){
.container {
    width: 1245px;
}
}

a.acymailing_togglemodule {
    background: #70bf4a !important;
    padding: 10px 26px !important;
    display: inline-block;
    color: #fff;
    width: 76%;
    margin-top: 30px;
}

ul.latestnews li{
	border-bottom: solid 1px grey;
    padding-bottom: 5px;
}

div#sppb-addon-1513775059481.clearfix, div#sppb-addon-1513775059499, div#sppb-addon-1513775059496.clearfix{
    background: #374f7c;
    padding-left: 14px;
    text-align: center;
    color: white;
}

 h3.sppb-addon-title{
    color: #ce2222 !important;
    font-size: 20px !important;
}

.sp-module {
     margin-top: 2px !important; 
}

.latestnews i.fa.fa-book{
    font-size: 35px !important; 
}

div.col-sm-1 i.fa.fa-book{
    font-size: 26px !important; 
}
span.date{
    padding-left: 38px;
}

span.date_home{
    padding-left: 0px;
}

section#section-id-1513102013502.sppb-section .sppb-col-md-8{
    border-right: solid 1px #ce2222;
}

section#members.sppb-section {
    border-top: solid 1px #ce2222;
}

section#members.sppb-section-title{
        margin-bottom: 0px !important;
}

section#section-id-1513102629554.sppb-section {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

div.sppb-addon.sppb-addon-text-block.0{ color: #fff !important; }

ul.latesthomenews{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.latesthomenews li {
    padding-bottom: 5px;
}
span.category_title{
    color: #70bf4a;
}

span.new_title{ color: #ce2222;
    font-size: 18px; }

/*members area8/

/*
members pagination
*/
.pagination {
    width: 100%;
    text-align: left !important;
}
.pagination-toolbar a {
    line-height: 26px;
}
.pagination ul {
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 18px;
    text-decoration: none;
    background-color: #FFF;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}
.result_bar span{
  background:#002a53;
  padding:0px 4px;
  color:white;
  border-radius: 5px;
}
.col-md-4 .thumbnail{
  display:inline-block;
  width:100%;
  padding-top:5px;
  padding-bottom:5px;
}
.company-description p{
  font-size: 13px;
  font-family: arial;
  font-weight:bold;
  margin:0px;
  padding:10px 0px 0px 0px;
}
#circle1 {
    width: 200px;
    height: 200px;
    border: solid !important;
}
.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.company_prodile_img {
    width: auto;
    height: 80px;
    max-height: 80px;
}