.icon-48-verifiers {
      background-image: url(../images/l_verifiers.png);
      padding-left:60px!important;
}

.icon-48-verifier {
      background-image: url(../images/l_verifiers.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}