#dp-calendar-toggle {
	cursor: pointer;
	text-align: center;
	clear: both;
	width: 100%;
	display: block;
}

#dp-calendar-list {
	overflow: hidden;
}

#dp-calendar-list input {
	margin: 0;
}

#dp-calendar-map {
	margin-top: 10px
}

.dp-event-tooltip .dp-event-links {
	border-top: 1px solid #DDDDDD;
	margin-top: 5px;
}

.dp-calendar .fc-day-grid-event > .fc-content {
	white-space: normal;
}

.dp-event-tooltip{
	font-size: 0.7rem;
}
.dp-event-tooltip a {
	margin-right: .4rem;
}

.tippy-tooltip{
	padding: .2rem;
}
.tippy-tooltip [x-circle] {
	border-radius: 0;
}

#dp-calendar-quickadd {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 1002;
	border: 1px solid #ccc;
	min-width: 350px;
	padding: 5px;
}

#dp-calendar-quickadd .control-group, #dp-calendar-quickadd .control-group .controls {
	margin: 2px;
	padding: 0;
}

#dp-calendar-quickadd .control-group .control-label {
	width: 80px;
}

#dp-calendar-quickadd .control-group label {
	height: 14px;
	font-size: 10px;
	line-height: 14px;
	margin-top: 5px;
}

#dp-calendar-quickadd .ui-timepicker-list li {
	height: 14px;
	font-size: 10px;
	line-height: 14px;
	margin-top: 5px;
}

#dp-calendar-quickadd .control-group input {
	height: 14px;
	font-size: 10px;
	line-height: 14px;
}

#dp-calendar-quickadd .control-group select {
	height: 28px;
	font-size: 10px;
	line-height: 14px;
	padding: 0;
}

/* time input width */
#dp-calendar-quickadd-form-container .time,
#dp-calendar-quickadd-form-container .start,
#dp-calendar-quickadd-form-container .end {
	max-width: 80px;
}
