.dp-list-hits {
	float: right;
}

.dp-list-title {
	font-weight: bold;
	margin-right: 5px;
}

.dp-list-date {
	font-size: smaller;
}

.dp-list-date:after {
	content: '\a';
	white-space: pre;
}

.dp-list-calendar,
.dp-list-capacity,
.dp-list-price {
	font-size: smaller;
	display: block;
}

.dp-list-location {
	float: right;
	clear: both;
	font-size: smaller;
}

.dp-list-locations .location-description {
	display: none
}

.dp-list-tooltip a {
	margin-right: 5px;
}

.dp-list-tooltip .dp-list-links {
	border-top: 1px solid #DDDDDD;
}

/* Calendar Icon */
#dp-list-events .dp-list-calendar-icon {
	float: left;
	font-size: 0.7em; /* change icon size */
	display: inline-block;
	position: relative;
	width: 4em;
	height: 4em;
	background-color: #fff;
	margin: 0 0.5em 0 0;
	border-left: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
	border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotate(0deg) skewY(0deg);
	-webkit-transform-origin: 50% 10%;
	transform-origin: 50% 10%;
}

#dp-list-events .dp-list-calendar-icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

#dp-list-events .dp-list-calendar-icon .dp-list-month {
	position: absolute;
	top: 0;
	padding: 0;
	color: #fff;
	line-height: 1.55em;
}

#dp-list-events .dp-list-calendar-icon .dp-list-day {
	width: 100%;
	font-size: 1.5em;
	padding-top: 1.3em;
	color: #2f2f2f;
}
