.dashboard-view{}
.dashboard-item .thumbnail{
  height:150px;
  text-align: center;
  vertical-align: middle;
}
.dash-item-icon {
  font-size: 50px;
}
.list-group-item {
  overflow:hidden;
}
.conversation-view {
display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background: #eee;
}
.message:first-child {
    margin-top: 8px;
}
.message {
box-sizing: border-box;
    margin: 0px 8px 8px 8px;
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.message-received {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.message-sent {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.message-received .message-text {
    background-color: #fff;
    border-radius: 2px 2px 2px 0px;
    margin-left: 8px;
}
.message-sent .message-text {
    background-color: #C8E6C9;
    margin-left: auto;
    border-radius: 2px 2px 0 2px;
    margin-right: 8px;
}
.message-text {
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px 8px;
    min-width: 48px;
    font-size: 16px;
    line-height: 1.2;
    word-break: break-word;
    color: #333;
    min-height: 48px;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.message-received .message-text:before {
    position: absolute;
    content: '';
    border-left: 8px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 8px solid #fff;
    right: 100%;
    bottom: 0;
    width: 0;
    height: 0;
}
.message-sent .message-text:before {
    position: absolute;
    content: '';
    border-left: 0px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #C8E6C9;
    left: 100%;
    bottom: 0;
    width: 0;
    height: 0;
}
.message-date {
    font-size: 12px;
    margin-top: 4px;
}

.message-name, .message-label, .message-date, .messages-date {
    color: rgba(0, 0, 0, 0.51);
}
.messagebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
    background: #fff;
    height: auto;
    top: auto;
    bottom: 0;
    font-size: 16px;
    overflow: hidden;
    margin: 20px;
}